<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to  npm install chart.js --save !
  </h1>

<div *ngIf="cryptos">
	<div id="crypto-container" *ngFor="let crypto of objectKeys(cryptos)">
		<span class="left"> 
			{{ crypto }}
		</span>
		<span class="right"> 
			{{ cryptos[crypto].EUR | currency:'EUR':true }}
		</span>		
	</div>	
</div>

<br />


<div class="chart-day-btc" *ngFor="let item of money">
	<div>
		<h2> {{ item }} </h2>
  		<canvas id="{{item}}"> {{ chart }}</canvas>
	</div>
</div>

<div class="chart-day-btc" *ngFor="let allData of allDatas">
	{{ allData | json }} 
</div>


  
<router-outlet></router-outlet>
 