<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to  {{ title }}
  </h1>
  <ngb-rating [(rate)]="currentRate"></ngb-rating>
<hr>

<pre>Rate: <b>{{currentRate}}</b></pre>


<div *ngIf="cryptos" class="container mb-3" style="width: 600px;">
	<ul id="crypto-container" class="list-inline" style="display: inline;"  *ngFor="let crypto of objectKeys(cryptos)">
		<li class="list-inline-item">
		<span class="left"> 
			{{ crypto }}
		</span>
		<span class="badge badge-info ml-1 mr-3" > 
			<span class="mr-1 ml-1">{{ cryptos[crypto].EUR | currency:'EUR':true }} </span>
		</span>
		</li>		
	</ul>	
</div>

  
<router-outlet></router-outlet>