<!--The content below is only a placeholder and can be replaced.-->
<nav id="main-nav" class="container-fluid">
	<div class="row">
		<div class="col-9">
			<ul class="nav">
				<li class="nav-item"><a class="nav-link" routerLink="/" routerLinkActive="active">Accueil</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="/data" routerLinkActive="active">Data</a></li>
			</ul>
		</div>
		<div class="col-3">
			<div *ngIf="user == null">
				<ul class="nav float-right">
					<li class="nav-item"><a class="nav-link" routerLink="/subscribe" routerLinkActive="active">Subscribe</a></li>
					<li class="nav-item"><a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a></li>
				</ul>
			</div>
			<div *ngIf="user != null">
				<ul class="nav float-right">
					<li class="nav-item"><a class="nav-link" routerLink="/logout" routerLinkActive="active">Logout</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>

<div style="text-align:center">
  <h1>
    Welcome to  {{ title }}
  </h1>
  
  <div *ngIf="user != null">
  	<p>Hello {{ user.login }} ! You have {{ user.wallet.money }} € at the moment ;)</p>
  </div>


<div *ngIf="cryptos" class="container mb-5" style="width: 600px;">
	<ul id="crypto-container" class="list-inline" style="display: inline;"  *ngFor="let crypto of objectKeys(cryptos)">
		<li class="list-inline-item">
		<span class="left"> 
			{{ crypto }}
		</span>
		<span class="badge badge-info ml-1 mr-3" > 
			<span class="mr-1 ml-1">{{ cryptos[crypto].EUR | currency:'EUR':true }} </span>
		</span>
		</li>		
	</ul>
</div>

  
<router-outlet></router-outlet>